body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: royalblue;
  color: whitesmoke;
}

.subApp--div {
  margin: 10px 100px;
  padding-bottom: 100px;

  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.main--title {
  text-align: center;
  font-family: 'Consolas';
  color: orange;
}

.display--div {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.display--div label {
  font-family: 'Consolas';
  font-size: 1.2rem;
}

.display--div input {
  width: 12%;
  padding: 0px 5px;
  margin-left: 10px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 0px 10px whitesmoke;
}

.display--div button {
  margin-left: 20px;
  padding: 3px 10px;
  background: royalblue;
  border-color: white;
  border-radius: 5px;
  color: whitesmoke;
}

.display--div button:hover {
  font-weight: bold;
  background: whitesmoke;
  border-color: red;
  border-radius: 5px;
  color: red;
}

.page--info {
  margin-left: 20px;
  text-decoration: none;
}

.page--info:hover {
  color: white;
}