.notemap--div {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: darkblue;
  border-radius: 7px;
}

.notemap--div p {
  margin: 5px 10px;
  font-size: 1.2rem;
  color: lightgreen;
}

/*A revoir..*/
.filtermap--div {
  width: 80%;
  margin: auto;
  margin: 2% 9%;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: navy;
  border: 1px solid cyan;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px cyan;
}

.filtermap--div p {
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 7px;
  color: cyan;
}

.filtermap--div button {
  margin-left: 10px;
  padding: 3px 10px;
  background: black;
  border-color: lightgreen;
  border-radius: 7px;
  color: lightgreen;
}

.filtermap--div button:hover {
  background: blue;
  border-color: cyan;
  border-radius: 7px;
  color: cyan;
}